{% assign experiences = data.experiences %}
{% if experiences and experiences.display %}
<section class="experiences">
    <div class="section-title">
        {{ experiences.title }}
    </div>

    <div class="section-content">
        {% for experience in experiences.items %}
        <div class="timeline-item" date-is="{{ experience.company }}, {{ experience.time }}">

            <div class="upper-row">
                <div class="company">
                    {% if experience.tag %}
                    <small>[{{ experience.tag }}]</small>
                    {% endif %}
                </div>
            </div>

            <div class="upper-row">
                <div class="role">{{ experience.role }}</div>
                <div class="location"><i class="fas fa-map-marker-alt"></i> {{ experience.location }}</div>
            </div>

            {% if experience.details %}
            <br/>
            <div class="details">
                <div class="markdown">
                    {{ experience.details | markdownify }}
                </div>
            </div>
            {% endif %}
            {% if experience.tools %}
            <br/>
            <div class="experiences-tools">
                <ul class="list-unstyled">
                    Project tools:
                    {% for experience in experience.tools %}
                    <li>{{ experience.item }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
